<% include partial/header.ejs %>
<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<h1>404 - Page not found</h1>

<br>
<br>

<h3>You have made a typo!</h3>

<br>
<br>


<h5>Try to type it right next time.</h5>

</body>
</html>